/* FOOTER */

.footer {
    width: 100%;
    height: $footerHeight - 10;
    line-height: $footerHeight;
    background-color: $color2;
    color: $btnPrimary;
    font-weight: bold;
    
    &__copy {
        display: block;
        width: 100%;
        height: 50px;
        background-color: $color2;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
    }

    &__link {
        color: $btnPrimary !important;

        &:active {
            color: $btnPrimary !important;
        }
        &:visisted {
            color: $btnPrimary !important;
        }
        &:hover {
            color: $color1 !important;
        }
    }  

}