@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400|Playball');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel:400,700,900');

//*** FONT - IMPORT ***/

$bodyFont : 'Lato',sans-serif;
$bodyWeight : 300;
$headingFont : 'Cinzel Decorative', cursive;
$navFont : 'Cinzel Decorative', cursive;
$btnFont : 'Cinzel Decorative', cursive;
$navWeight : 500;
$navStyle : none;


//*** VARIABLES ***/

//** COLORS **//
$black : #000000;
$white : #ffffff;
$gray : #e9e9e9;
$gray1 : #bcbcbc;
$gray2 : #665c5a;
$gray3 : #7f7f7f;
$darkGray2 : #4f4f4f;
$darkGray : #494949;
$skinColor : #ffebd8;
$color1 : #2A81A5;
$color2 : #53585e;
$color3 : #FF6B4C;
$red : #dc1e3d;
$btnPrimary : #ffc531;
$btnPrimaryColor : #606468;
$btnSecondary : #53585e; // #4f687d;
$cardBackground : #6f757b;
$player1 : #febc2c;
$player2 : #2badff;

//** FONT SIZES **//
$headings: (
    h1 : 29px,
    h2 : 25px,
    h3 : 23px,
    h4 : 21px,
    h5 : 19px,
    h6 : 17px );
$navText : 24px;
$bodyFontSize : 17px;

//** MARGIN - PADDING **//
$topMargin: 15px;
$bottomMargin: 25px;
$topPad: 10px;
$bottomPad: 15px;


//** SIZES **//
$footerHeight: 120px;
$navHeight: 65px;
$smallScreen: 767px;
$medScreen: 1024px;