@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400|Cinzel+Decorative|Cinzel:400,700,900');

//*** FONT - IMPORT ***/

$bodyFont : 'Lato',sans-serif;
$bodyWeight : 300;
$headingFont : 'Cinzel Decorative', cursive;
$navFont : 'Cinzel Decorative', cursive;
$btnFont : 'Cinzel Decorative', cursive;
$navWeight : 500;
$navStyle : normal;

//** COLORS **//
$black : #000000;
$white : #ffffff;
$red : #dc1e3d;

$gray : #e9e9e9;
$gray2 : #665c5a;
$gray3 : #7f7f7f;
$darkGray : #494949;
$darkGray2 : #4f4f4f;

$color1 : #FF6B4C;
$color2 : #53585e;

$btnPrimary : #ffc531;
$btnPrimaryColor : #606468;
$btnSecondary : #53585e;
$cardBackground : #6f757b;

$player1 : #febc2c;
$player2 : #2badff;

//** FONT SIZES **//
$headings: (
    h1 : 29px,
    h2 : 25px,
    h3 : 23px,
    h4 : 21px,
    h5 : 19px,
    h6 : 17px );
$navText : 24px;
$bodyFontSize : 17px;

//** SIZES **//
$footerHeight: 120px;
$navHeight: 65px;

$smallScreen: 767px;
$medScreen: 1024px;