/*** IMPORT ***/
@import "partials/variables";
@import "partials/mixins";
@import "partials/blocktags";
@import "partials/footer";
@import "partials/header";
 
/****** OVERFLOW SEARCH ***********
        * {
            outline: 1px solid red;
            opacity: 1 !important; visibility: visible !important;
        }
****** / OVERFLOW SEARCH ***********/

//** CANVAS **//
#testCanvas {
    margin: 0 auto 100px auto;
    align-self: auto;
}

//** BACKGROUNDS **//
.background {
    &--lines {
        background: repeating-linear-gradient(
			90deg,
			$darkGray,
			$darkGray 10px,
            $darkGray2 10px,
            $darkGray2 20px
            );
    }
    &--lines__blue {
        background: repeating-linear-gradient(
			45deg,
			$color2,
			$color2 10px,
            darken($color2, 1%) 10px,
            darken($color2, 2%) 20px
            );
    }
    &--dark {
        background: $darkGray2;
    }
}

//** BORDERS **//
.border {
    &--sides {
        border-left: 1px solid $color2;
        border-right: 1px solid $color2;
        outline: 2px solid $gray2;
        box-shadow: 0 0 0 4px $gray3;
    }
    &--sides:before {
        border-left: 1px solid $gray2;
        border-right: 1px solid $gray2;
    }
    &--sides:after {
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
    }
}

//** BUTTONS **//
.btn {
    &-secondary {
        color: $white !important;
        background-color: lighten($btnSecondary, 7%) !important;
        border: 0 !important;
        border-radius: 0 !important;

    }
    &-secondary:hover {
        border: 0 !important;
        background-color: darken($btnSecondary, 5%) !important;
        border-radius: 0 !important;
    }

    &-primary {
        color: $btnPrimaryColor !important;
        background-color: $btnPrimary !important;
        border: 0 !important;

        &:hover {
            border: 0 !important;
            background-color: darken($btnPrimary, 25%) !important;
            color: $white !important;
        }

        &-bigtext {
            @include fontRem(48px);
            @media screen and (max-width: $smallScreen) { @include fontRem(26px); }
            font-family: $btnFont;
            font-weight: 900 !important;
            color: $btnPrimaryColor !important;
        }
        &-medtext {
            @include fontRem(35px);
            @media screen and (max-width: $smallScreen) { @include fontRem(24px); }
            font-family: $btnFont;
            font-weight: 700 !important;
            color: $btnPrimaryColor !important;
        }
        &-1 {
            background-color: $player1 !important;
            &:hover{
                background-color: darken($player1, 25%) !important;
            }
        }
        &-2 {
            background-color: $player2 !important;
            color: $white !important;
            &:hover {
                background-color: darken($player2, 25%) !important;
            }
        }
    }

}

//** STYLES FOR RULES.html **//
.img-rules {
    @media screen and (max-width: $smallScreen) { display: block !important; float: none !important; }
}

//** STYLES FOR PLAY.html **//

.imageOverlayShield {
    @media screen and (max-width: $smallScreen) { width: 200px; }
    width: 400px;
    max-width: 80%;
}

.playGame, .trapOverlay { 
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: $black; // Fallback color
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; // Disable horizontal scroll
    transition: 1s;
}
.playGameButton {
    position: relative;
    top: 25%; // 25% from top 
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 30px;
}

//** STYLES FOR CHARACTER.html **//
// cards

.overlay {
    content: ' ';
    z-index: 99;
    opacity: 0.5;
    background: rgba(39, 42, 43, 0.8);
    transition: opacity 200ms ease-in-out;
}

.characterTitle {
    font-weight: bold;
    padding-right: 15px;
    display: block;
}
.characterAbout {
    padding-left: 15px;
    display: block;
}
.characterHouse {
    padding: 15px 0;
}
.hr {
    width: 100%;
    height: 3px; 
    background-color: $btnPrimary;
}

.card {
    
    &-header {
        background-color: $btnSecondary !important;
    }
    &-body {
        background-color: $cardBackground !important;
    }

    background-color: $cardBackground !important;
    color: $white !important;
    font-weight: bold;

    & a:link {
        color: $white !important;
    }
    & a:visited {
        color: $white !important;
        text-decoration: none;
    }
    & a:active {
        color: darken($white, 10%) !important;
        text-decoration: underline;
    }
    
    & a:hover {
        color: $btnPrimary !important;
    }
}