/*** IMPORT ***/
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400|Playball");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|Cinzel:400,700,900");
body {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  font-style: none;
  font-size: 17px;
  color: #ffffff; }

h1, .h1 {
  font-size: 1.8125rem;
  font-family: "Cinzel Decorative", cursive;
  color: #ffffff;
  font-weight: bold; }

h2, .h2 {
  font-size: 1.5625rem;
  font-family: "Cinzel Decorative", cursive;
  color: #ffffff;
  font-weight: bold; }

h3, .h3 {
  font-size: 1.4375rem;
  font-family: "Cinzel Decorative", cursive;
  color: #ffffff;
  font-weight: bold; }

h4, .h4 {
  font-size: 1.3125rem;
  font-family: "Cinzel Decorative", cursive;
  color: #ffffff;
  font-weight: bold; }

h5, .h5 {
  font-size: 1.1875rem;
  font-family: "Cinzel Decorative", cursive;
  color: #ffffff;
  font-weight: bold; }

h6, .h6 {
  font-size: 1.0625rem;
  font-family: "Cinzel Decorative", cursive;
  color: #ffffff;
  font-weight: bold; }

a:link {
  color: #ffffff; }
a:visited {
  color: #ffffff;
  text-decoration: none; }
a:active {
  color: #e6e6e6;
  text-decoration: underline; }
a:hover {
  color: #ffc531; }

.btn-secondary {
  color: #ffffff !important;
  background-color: #646a71 !important;
  border: 0 !important;
  border-radius: 0 !important; }
.btn-secondary:hover {
  border: 0 !important;
  background-color: #474b50 !important;
  border-radius: 0 !important; }
.btn-primary {
  color: #606468 !important;
  background-color: #ffc531 !important;
  border: 0 !important; }
  .btn-primary:hover {
    border: 0 !important;
    background-color: #b17f00 !important;
    color: #ffffff !important; }
  .btn-primary-bigtext {
    font-size: 3.125rem;
    font-family: "Cinzel Decorative", cursive;
    font-weight: 900 !important;
    color: #606468 !important; }
  .btn-primary-medtext {
    font-size: 1.625rem;
    font-family: "Cinzel Decorative", cursive;
    font-weight: 700 !important;
    color: #606468 !important; }
  .btn-primary-1 {
    background-color: #febc2c !important; }
    .btn-primary-1:hover {
      background-color: #aa7501 !important; }
  .btn-primary-2 {
    background-color: #2badff !important;
    color: #ffffff !important; }
    .btn-primary-2:hover {
      background-color: #0069ab !important; }

/* FOOTER */
.footer {
  width: 100%;
  height: 110px;
  line-height: 120px;
  background-color: #53585e;
  color: #ffc531;
  font-weight: bold; }
  .footer__copy {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #53585e;
    font-size: 14px;
    line-height: 50px;
    text-align: center; }
  .footer__link {
    color: #ffc531 !important; }
    .footer__link:active {
      color: #ffc531 !important; }
    .footer__link:visisted {
      color: #ffc531 !important; }
    .footer__link:hover {
      color: #FF6B4C !important; }

.header {
  width: 100%;
  height: 400px; }
  .header--main {
    position: relative;
    background: url("../_img/eberhard-grossgasteiger-1128663-unsplash.jpg") no-repeat center right;
    background-size: cover; }
    @media screen and (min-width: 767px) {
      .header--main {
        background: url("../_img/eberhard-grossgasteiger-1128663-unsplash.jpg") no-repeat center center !important;
        background-size: cover !important; } }

.nav-item {
  margin-right: 1rem; }

.navbar {
  background: #3b3f43 !important;
  color: #ffffff !important;
  font-family: "Cinzel Decorative", cursive;
  font-size: 24px;
  font-weight: 500 !important;
  font-style: none;
  min-height: 65px;
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 3px solid #4f4f4f;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2); }
  .navbar a:link {
    color: #ffffff !important; }
  .navbar a:visited {
    color: #ffffff !important;
    text-decoration: none; }
  .navbar a:active {
    color: #e6e6e6 !important;
    text-decoration: underline; }
  .navbar a:hover {
    color: #ffc531 !important;
    text-decoration: underline; }
  .navbar-image {
    padding-right: 50px;
    height: 65px; }

.nav-link-footer:hover {
  color: #ffc531 !important; }
.nav-link::after {
  padding-left: 1rem;
  content: ' '; }

/****** OVERFLOW SEARCH ***********
        * {
            outline: 1px solid red;
            opacity: 1 !important; visibility: visible !important;
        }
****** / OVERFLOW SEARCH ***********/
.imageOverlayShield {
  max-width: 30%;
  width: 400px; }

.hide {
  display: none; }

.playerVS {
  color: #ffffff !important; }

#testCanvas {
  margin: 0 auto 100px auto;
  align-self: auto; }

.overlay {
  content: ' ';
  z-index: 99;
  opacity: 0.5;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out; }

.playGame, .trapOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 1s; }

.playGameButton {
  position: relative;
  top: 25%;
  width: 100%;
  height: 20%;
  text-align: center;
  margin-top: 30px; }

.overlay {
  content: ' ';
  z-index: 99;
  opacity: 0.5;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out; }

.playerChosen {
  border: 5px solid #53585e; }

.characterTitle {
  font-weight: bold;
  padding-right: 15px;
  display: block; }

.characterAbout {
  padding-left: 15px;
  display: block; }

.characterHouse {
  padding: 15px 0; }

.hr {
  width: 100%;
  height: 3px;
  background-color: #ffc531; }

.card {
  background-color: #6f757b !important;
  color: #ffffff !important;
  font-weight: bold; }
  .card-header {
    background-color: #53585e !important; }
  .card-body {
    background-color: #6f757b !important; }
  .card a:link {
    color: #ffffff !important; }
  .card a:visited {
    color: #ffffff !important;
    text-decoration: none; }
  .card a:active {
    color: #e6e6e6 !important;
    text-decoration: underline; }
  .card a:hover {
    color: #ffc531 !important; }

@media screen and (max-width: 767px) {
  .img-rules {
    display: block !important;
    float: none !important; } }

.hide--big {
  display: none !important; }
  @media screen and (max-width: 767px) {
    .hide--big {
      display: block !important; } }

.row .fixed {
  width: 98%;
  margin: 0 auto; }

.background--lines {
  background: repeating-linear-gradient(90deg, #494949, #494949 10px, #4f4f4f 10px, #4f4f4f 20px); }
.background--lines__blue {
  background: repeating-linear-gradient(45deg, #53585e, #53585e 10px, #51555b 10px, #4e5359 20px); }
.background--paper {
  background: #4f4f4f; }

.divider--lines {
  display: block;
  content: ' ';
  height: 0.5rem;
  margin: 1.25rem 0; }
  .divider--lines__orange {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: linear-gradient(to bottom, #FF6B4C, #ffaa99); }
  .divider--lines__green {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: linear-gradient(to bottom, #FF6B4C, #ffeae5); }
  @media screen and (max-width: 767px) {
    .divider--lines {
      margin: 2rem 0; } }

.border--sides {
  border-left: 1px solid #53585e;
  border-right: 1px solid #53585e;
  outline: 2px solid #665c5a;
  box-shadow: 0 0 0 4px #7f7f7f; }
.border--sides:before {
  border-left: 1px solid #665c5a;
  border-right: 1px solid #665c5a; }
.border--sides:after {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9; }
.border--bottom {
  border-bottom: 1px solid #232528; }
.border--top {
  border-top: 1px solid #232528; }

.margin__top {
  margin-top: 15px; }
  .margin__top--5 {
    margin-top: 20px; }
.margin__bottom {
  margin-bottom: 25px; }

.padding__top {
  padding-top: 10px; }
  .padding__top--5 {
    padding-top: 15px; }
.padding__bottom {
  padding-bottom: 15px; }

/*# sourceMappingURL=styles.css.map */
